<div ng-controller="HomeController" id="homeController" layout="column" layout-align="start center">
    <div class="menu-demo-container" layout-align="center center" layout="column">
        <h2 class="md-display-3">Transport data visualization</h2>
        <p class="md-subhead subheader">Road transport is the largest contributor to global warming,
            through emission of carbon dioxide and air pollution.
            Here you can compare how the transport impacts <br> on the air pollution and the amount of carbon dioxide emitted.</p>
        <md-button class="md-icon-button icon" ng-click="scrollToDiv()">
            <md-icon class="icon" md-font-set="md">keyboard_arrow_down</md-icon>
        </md-button>
    </div>
    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always" id="showData">
        <md-tab label="AIR NOW">
            <md-content class="md-padding">
                <div id="showMap" layout="column" layout-align="start center">
                    <div layout="row" layout-align="center start">
                        <div layout="column">
                            <canvas hidden id="mapCanvas">
                            </canvas>
                            <div id="map" style="width:700px; height:500px"></div>
                        </div>

                        <div layout="column" flex="30" flex-offset="5" layout-align="start center">
                            <p>The Google Traffic layer modify the base map layer to display current traffic conditions. These layers are available in select regions.</p>
                            <p>Traffic Layer adds real-time traffic information (where supported) to the map. Traffic information is refreshed frequently, but not instantly.
                                Rapid consecutive requests for the same area are unlikely to yield different results.</p>
                            <md-button ng-show="!showProgress" ng-click="getCanvas()">GET DATA</md-button>
                            <md-progress-circular ng-show="showProgress" md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="COMPARE CITIES">
            <md-content class="md-padding">
                <div layout="row">
                    <md-autocomplete flex required
                                     md-input-name="autocompleteField"
                                     md-input-minlength="3"
                                     md-input-maxlength="18"
                                     md-no-cache="false"
                                     md-selected-item="city1"
                                     md-search-text="searchText1"
                                     md-items="item in querySearch(searchText1)"
                                     md-item-text="item.name"
                                     md-require-match
                                     md-floating-label="City 1">
                        <md-item-template>
                            <span md-highlight-text="searchText">{{item.name}}</span>
                        </md-item-template>
                        <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                            <div ng-message="md-require-match">Please select an existing state.</div>
                            <div ng-message="minlength">Your entry is not long enough.</div>
                        </div>
                    </md-autocomplete>
                    <md-autocomplete flex required
                                     md-input-name="autocompleteField"
                                     md-input-minlength="3"
                                     md-input-maxlength="18"
                                     md-no-cache="false"
                                     md-selected-item="city2"
                                     md-search-text="searchText2"
                                     md-items="item in querySearch(searchText2)"
                                     md-item-text="item.name"
                                     md-require-match
                                     md-floating-label="City 2">
                        <md-item-template>
                            <span md-highlight-text="searchText">{{item.name}}</span>
                        </md-item-template>
                        <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                            <div ng-message="md-require-match">Please select an existing state.</div>
                            <div ng-message="minlength">Your entry is not long enough.</div>
                        </div>
                    </md-autocomplete>
                </div>
                <div layout="row">
                    <div id="map1"></div>
                    <div id="map2"></div>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>


</div>

