<div ng-controller="HomeController" id="homeController" layout="column" layout-align="start center">
    <div class="menu-demo-container" layout-align="center center" layout="column">
        <h2 class="md-display-3">Transport data visualization</h2>
        <p class="md-subhead subheader">Road transport is the largest contributor to global warming,
            through emission of carbon dioxide and air pollution.
            Here you can compare how the transport impacts <br> on the air pollution and the amount of carbon dioxide emitted.</p>
        <md-button class="md-icon-button icon" ng-click="scrollToDiv()">
            <md-icon class="icon" md-font-set="md">keyboard_arrow_down</md-icon>
        </md-button>
    </div>
    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always" id="showData">
        <md-tab label="AIR NOW">
            <md-content class="md-padding">
                <div id="showMap" layout="column" layout-align="start center">
                    <div layout="row" layout-align="center start">
                        <div layout="column">
                            <canvas hidden id="mapCanvas">
                            </canvas>
                            <div id="map" style="width:700px; height:500px"></div>
                        </div>

                        <div layout="column" flex="30" flex-offset="5" layout-align="start center">
                            <p>The Google Traffic layer modify the base map layer to display current traffic conditions. These layers are available in select regions.</p>
                            <p>Traffic Layer adds real-time traffic information (where supported) to the map. Traffic information is refreshed frequently, but not instantly.
                                Rapid consecutive requests for the same area are unlikely to yield different results.</p>
                            <md-button ng-show="!showProgress" ng-click="getCanvas()">GET DATA</md-button>
                            <md-progress-circular ng-show="showProgress" md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="COMPARE CITIES">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Two</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
            </md-content>
        </md-tab>
    </md-tabs>



</div>
