<div ng-controller="HomeController" id="homeController" layout="column" layout-align="start center">
    <div class="menu-demo-container" layout-align="center center" layout="column">
        <h2 class="md-display-3">Transport data visualization</h2>
        <p class="md-subhead subheader">Road transport is the largest contributor to global warming,
            through emission of carbon dioxide and air pollution.
            Here you can compare how the transport impacts <br> on the air pollution and the amount of carbon dioxide
            emitted.</p>
        <md-button ng-click="showStatistics()" ng-show="!showProgressActive">Show Statistics</md-button>
        <md-progress-circular ng-show="showProgressActive" md-mode="indeterminate"></md-progress-circular>
        <md-button class="md-icon-button icon" ng-click="scrollToDiv()">
            <md-icon class="icon" md-font-set="md">keyboard_arrow_down</md-icon>
        </md-button>
    </div>
    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always" id="showData" md-selected="selectedTab">
        <md-tab label="AIR NOW">

            <md-content class="md-padding">
                <div id="showMap" layout="row" layout-align="center start">

                        <div layout="column">
                            <div id="mapa" style="width:700px; height: 50%">
                                <ng-map zoom="13" center="[41.99646, 21.43141]" style="width:700px; height: 50%">
                                    <traffic-layer>
                                        <marker ng-repeat="pos in positions"
                                                position="{{pos.lat}},{{pos.lng}}"></marker>
                                    </traffic-layer>
                                </ng-map>
                            </div>
                            <canvas hidden id="mapCanvas">
                            </canvas>
                        </div>

                        <div layout="column" flex="30" flex-offset="5" layout-align="start center">
                            <p>The Google Traffic layer modify the base map layer to display current traffic conditions.
                                These layers are available in select regions.</p>
                            <p>Traffic Layer adds real-time traffic information (where supported) to the map. Traffic
                                information is refreshed frequently, but not instantly.
                                Rapid consecutive requests for the same area are unlikely to yield different
                                results.</p>
                            <md-button ng-show="!showProgress" ng-click="getData()">GET DATA</md-button>
                            <md-progress-circular ng-show="showProgress" md-mode="indeterminate"></md-progress-circular>
                        </div>
                </div>

                <div layout="row" layout-align="strech" ng-show="showData">
                    <md-card md-theme-watch flex="50" layout="column" layout-align="strech">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Traffic</span>
                                <span class="md-subhead">Represents the real time traffic in Skopje, calculated based on the traffic layer provided from the Google Maps.</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout="column" layout-align="center center">
                            <div layout="row" class="md-title">Legend</div>
                            <div layout="row" layout-align="start end ">
                                <md-fab-speed-dial md-direction="up" md-open="isOpenBrown" flex="25"
                                                   class="md-scale" ng-class="{ 'md-hover-full': hoverBrown }"
                                                   ng-mouseenter="isOpenBrown=true"
                                                   ng-mouseleave="isOpenBrown=false">
                                    <md-fab-trigger>
                                        <md-button aria-label="menu" class="md-fab btnBrown">
                                        </md-button>
                                    </md-fab-trigger>

                                    <md-fab-actions>
                                        <span>The darker the red, the slower the speed of traffic on the road</span>
                                    </md-fab-actions>
                                </md-fab-speed-dial>
                                <md-fab-speed-dial md-direction="up" md-open="isOpenRed" flex="25"
                                                   class="md-scale" ng-class="{ 'md-hover-full': hoverRed }"
                                                   ng-mouseenter="isOpenRed=true" ng-mouseleave="isOpenRed=false">
                                    <md-fab-trigger>
                                        <md-button aria-label="menu" class="md-fab btnRed">
                                        </md-button>
                                    </md-fab-trigger>

                                    <md-fab-actions>
                                        <span>Traffic delays</span>
                                    </md-fab-actions>
                                </md-fab-speed-dial>
                                </md-fab-speed-dial>
                                <md-fab-speed-dial md-direction="up" md-open="isOpenOrange" flex="25"
                                                   class="md-scale" ng-class="{ 'md-hover-full': hoverOrange }"
                                                   ng-mouseenter="isOpenOrange=true"
                                                   ng-mouseleave="isOpenOrange=false">
                                    <md-fab-trigger>
                                        <md-button aria-label="menu" class="md-fab btnOrange">
                                        </md-button>
                                    </md-fab-trigger>

                                    <md-fab-actions>
                                        <span>Medium amount of traffic</span>
                                    </md-fab-actions>
                                </md-fab-speed-dial>
                                </md-fab-speed-dial>
                                <md-fab-speed-dial md-direction="up" md-open="isOpenGreen" flex="25"
                                                   class="md-scale" ng-class="{ 'md-hover-full': hoverGreen }"
                                                   ng-mouseenter="isOpenGreen=true"
                                                   ng-mouseleave="isOpenGreen=false">
                                    <md-fab-trigger>
                                        <md-button aria-label="menu" class="md-fab btnGreen">
                                        </md-button>
                                    </md-fab-trigger>

                                    <md-fab-actions>
                                        <span>No traffic delays</span>
                                    </md-fab-actions>
                                </md-fab-speed-dial>
                            </div>
                            <canvas  id="doughnut" class="chart chart-doughnut"
                                    chart-data="data" chart-labels="labels" chart-colors="colors">
                            </canvas>
                        </md-card-content>
                    </md-card>
                    <md-card md-theme-watch flex="50" layout="column" layout-align="strech">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Air Quality</span>
                                <span class="md-subhead">Represents data for the air parameters collected with the help of multiple sensors located in Skopje and shown on map with markers. </span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout="column" layout-align="center center">

                                <canvas id="bar" class="chart chart-bar"
                                    chart-data="dataSensor" chart-labels="labelsSensor">
                            </canvas>
                        </md-card-content>
                    </md-card>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="COMPARE CITIES">
            <md-content class="md-padding" layout-align="center start">
                <div layout="row">
                    <md-autocomplete flex required
                                     md-input-name="autocompleteField"
                                     md-input-minlength="3"
                                     md-input-maxlength="18"
                                     md-no-cache="false"
                                     md-selected-item="city1"
                                     md-search-text="searchText1"
                                     md-items="item in querySearch(searchText1)"
                                     md-item-text="item.name + ',' + item.country"
                                     md-require-match
                                     md-floating-label="City 1">
                        <md-item-template>
                            <span md-highlight-text="searchText">{{item.name + ',' + item.country}}</span>
                        </md-item-template>
                        <div ng-messages="searchForm.autocompleteField.$error"
                             ng-if="searchForm.autocompleteField.$touched">
                            <div ng-message="md-require-match">Please select an existing state.</div>
                            <div ng-message="minlength">Your entry is not long enough.</div>
                        </div>
                    </md-autocomplete>
                    <md-autocomplete flex required
                                     md-input-name="autocompleteField"
                                     md-input-minlength="3"
                                     md-input-maxlength="18"
                                     md-no-cache="false"
                                     md-selected-item="city2"
                                     md-search-text="searchText2"
                                     md-items="item in querySearch(searchText2)"
                                     md-item-text="item.name + ',' + item.country"
                                     md-require-match
                                     md-floating-label="City 2">
                        <md-item-template>
                            <span md-highlight-text="searchText">{{item.name + ',' + item.country}}</span>
                        </md-item-template>
                        <div ng-messages="searchForm.autocompleteField.$error"
                             ng-if="searchForm.autocompleteField.$touched">
                            <div ng-message="md-require-match">Please select an existing state.</div>
                            <div ng-message="minlength">Your entry is not long enough.</div>
                        </div>
                    </md-autocomplete>
                </div>
                <div layout="row" layout-align="center center">
                    <div layout="column">
                        <div id="map1" style="width:700px; height:500px"></div>
                        <div layout-align="center center" layout="row" ng-show="showGraphs">
                            <div layout="column" layout-align="center center" class="progress-wrapper">
                                <round-progress
                                        max="500"
                                        current="aqi1"
                                        color="{{aqi1Color}}"
                                        bgcolor="#eaeaea"
                                        radius="150"
                                        stroke="20"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="linearEase"
                                        animation-delay="0"></round-progress>
                                <div class="text"><span class="size">{{aqi1}}</span></div>
                                <div class="md-headline">AQI</div>
                            </div>
                            <div layout="column" layout-align="center center" class="progress-wrapper">
                                <round-progress
                                        max="180"
                                        current="co2_1"
                                        color="#99cc00"
                                        bgcolor="#eaeaea"
                                        radius="150"
                                        stroke="20"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="linearEase"
                                        animation-delay="0"></round-progress>
                                <div class="text"><span class="size">{{co2_1}}</span><br> g/m<sup>3</sup></div>
                                <div class="md-headline">CO2</div>
                            </div>
                        </div>
                    </div>
                    <div layout="column" layout-align="center center">
                        <md-progress-circular md-mode="indeterminate" ng-show="showProgress"></md-progress-circular>
                        <md-button class="md-raised md-primary" ng-show="!showProgress" ng-click="compareCities()">
                            Compare
                        </md-button>
                    </div>
                    <div layout="column">
                        <div id="map2" style="width:700px; height:500px"></div>
                        <div layout-align="center center" layout="row" ng-show="showGraphs">
                            <div layout="column" layout-align="center center" class="progress-wrapper">
                                <round-progress
                                        max="500"
                                        current="aqi2"
                                        color="{{aqi2Color}}"
                                        bgcolor="#eaeaea"
                                        radius="150"
                                        stroke="20"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="linearEase"
                                        animation-delay="0"></round-progress>

                                <div class="text"><span class="size">{{aqi2}}</span></div>
                                <div class="md-headline">AQI</div>
                            </div>
                            <div layout="column" layout-align="center center" class="progress-wrapper">
                                <round-progress
                                        max="180"
                                        current="co2_2"
                                        color="#99cc00"
                                        bgcolor="#eaeaea"
                                        radius="150"
                                        stroke="20"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="linearEase"
                                        animation-delay="0"></round-progress>
                                <div class="text"><span class="size">{{co2_2}}</span><br>g/m<sup>3</sup></div>
                                <div class="md-headline">CO2</div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="STATISTICS" md-active="statisticActive">
            <md-content class="md-padding" layout-align="center start">
                <div layout="row" layout-align="strech">
                    <md-card md-theme-watch flex="50" layout="column">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Traffic intensity</span>
                                <span class="md-subhead">Average number of traffic delays based on data collected through the time for the city of Skopje, expressed in percents.
                                Traffic details are collected with the help of Google Maps Traffic Layer and are represented with the corresponding color.
                                You can see the Legend below in order to see the meaning of each color.

                                </span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout-align="center center">
                            <div layout="column" layout-align="center center">
                                <div layout="row" class="md-title">Legend</div>
                                <div layout="row" layout-align="start end ">
                                    <md-fab-speed-dial md-direction="up" md-open="isOpenBrown" flex="25"
                                                       class="md-scale" ng-class="{ 'md-hover-full': hoverBrown }"
                                                       ng-mouseenter="isOpenBrown=true"
                                                       ng-mouseleave="isOpenBrown=false">
                                        <md-fab-trigger>
                                            <md-button aria-label="menu" class="md-fab btnBrown">
                                            </md-button>
                                        </md-fab-trigger>

                                        <md-fab-actions>
                                            <span>The darker the red, the slower the speed of traffic on the road</span>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                    <md-fab-speed-dial md-direction="up" md-open="isOpenRed" flex="25"
                                                       class="md-scale" ng-class="{ 'md-hover-full': hoverRed }"
                                                       ng-mouseenter="isOpenRed=true" ng-mouseleave="isOpenRed=false">
                                        <md-fab-trigger>
                                            <md-button aria-label="menu" class="md-fab btnRed">
                                            </md-button>
                                        </md-fab-trigger>

                                        <md-fab-actions>
                                            <span>Traffic delays</span>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                    </md-fab-speed-dial>
                                    <md-fab-speed-dial md-direction="up" md-open="isOpenOrange" flex="25"
                                                       class="md-scale" ng-class="{ 'md-hover-full': hoverOrange }"
                                                       ng-mouseenter="isOpenOrange=true"
                                                       ng-mouseleave="isOpenOrange=false">
                                        <md-fab-trigger>
                                            <md-button aria-label="menu" class="md-fab btnOrange">
                                            </md-button>
                                        </md-fab-trigger>

                                        <md-fab-actions>
                                            <span>Medium amount of traffic</span>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                    </md-fab-speed-dial>
                                    <md-fab-speed-dial md-direction="up" md-open="isOpenGreen" flex="25"
                                                       class="md-scale" ng-class="{ 'md-hover-full': hoverGreen }"
                                                       ng-mouseenter="isOpenGreen=true"
                                                       ng-mouseleave="isOpenGreen=false">
                                        <md-fab-trigger>
                                            <md-button aria-label="menu" class="md-fab btnGreen">
                                            </md-button>
                                        </md-fab-trigger>

                                        <md-fab-actions>
                                            <span>No traffic delays</span>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                </div>
                            </div>
                            <canvas id="doughnutStat" class="chart chart-doughnut"
                                    chart-data="dataStat" chart-labels="labelsData" chart-colors="colors">
                            </canvas>
                        </md-card-content>
                    </md-card>
                    <md-card md-theme-watch flex="50">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Air Quality</span>
                                <span class="md-subhead">Graphs represents the relationships between the delays in traffic and the air quality.
                                More specifically, on the graphs are shown dependencies between the PM 10 and PM 2.5 particles in the air with the traffic delays.
                                Lines represents the amount of traffic delays, while bars represent the amount of particales in the air.
                                </span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div layout="column" layout-align="center center">
                                <div layout="row" class="md-title">Legend</div>
                                <div layout="row" layout-align="center center ">
                                    <md-fab-speed-dial md-direction="left" md-open="isOpenRedGraph" flex="25"
                                                       class="md-scale" ng-class="{ 'md-hover-full': hoverRedGraph }"
                                                       ng-mouseenter="isOpenRedGraph=true" ng-mouseleave="isOpenRedGraph=false">
                                        <md-fab-trigger>
                                            <md-button aria-label="menu" class="md-fab btnRed">
                                            </md-button>
                                        </md-fab-trigger>

                                        <md-fab-actions>
                                            <span>Amount of traffic delays</span>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                    <md-fab-speed-dial md-direction="right" md-open="isOpenGreenGraph" flex="25"
                                                       class="md-scale" ng-class="{ 'md-hover-full': hoverGreenGraph }"
                                                       ng-mouseenter="isOpenGreenGraph=true"
                                                       ng-mouseleave="isOpenGreenGraph=false">
                                        <md-fab-trigger>
                                            <md-button aria-label="menu" class="md-fab btnGreen">
                                            </md-button>
                                        </md-fab-trigger>

                                        <md-fab-actions>
                                            <span>Amount of PM 10 / PM 2.5 particles in air</span>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                </div>

                                    <canvas id="barStatPm10" class="chart-bar" chart-dataset-override="datasetOverridePm10"
                                            chart-data="dataPm10" chart-labels="labelsPm10" chart-colors="colorsStat">
                                    </canvas>
                                <span>PM 10</span>
                                    <canvas id="barStatPm25" class="chart-bar" chart-dataset-override="datasetOverridePm25"
                                            chart-data="dataPm25" chart-labels="labelsPm25" chart-colors="colorsStat">
                                    </canvas>
                                <span>PM 2.5</span>
                            </div>


                        </md-card-content>
                    </md-card>
                </div>
                <div layout="row" layout-align="strech">
                    <md-card md-theme-watch flex="50">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Average number of cars</span>
                                <span class="md-subhead">Counts the daily average number of cars that are part of the traffic jam.
                                    The number of cars is calculated based on the everyday traffic in the city of Skopje and are taken into account only the parts of the traffic labeled with red color or the ones where is a traffic jam.
                                </span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div layout="row" layout-align="center center">
                                <i class="material-icons" style="color:red; font-size: 300px;">directions_car</i>
                                <h1 count-up id="opens" ng-model="numberOfCars"
                                    style="font-size: 80px;"></h1>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card md-theme-watch flex="50">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Average CO<sub>2</sub> concetration</span>
                                <span class="md-subhead">CO<sub>2</sub> concetration in air depends on the calculated average number of cars.
                                    Represents the daily average number of CO<sub>2</sub> concetration emitted from the cars.
                                    It is taken into account the amount of CO<sub>2</sub> a car emit in standstill. </span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout-align="center center">
                            <div layout="column" layout-align="center center" class="progress-wrapper">
                                <round-progress
                                        max="180"
                                        current="CO2"
                                        color="#99cc00"
                                        bgcolor="#eaeaea"
                                        radius="150"
                                        stroke="20"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="linearEase"
                                        animation-delay="0"></round-progress>
                                <div class="text"><span class="size">{{CO2}}</span><br> g/m<sup>3</sup></div>
                                <div class="md-headline">CO<sub>2</sub></div>
                            </div>

                        </md-card-content>
                    </md-card>
                </div>
                <br>
                <div layout="row" flex="100" layout-align="center center">
                    <md-card md-theme-watch flex="100">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">AQI - Air Quality Index</span>
                                <span class="md-subhead">Shows the map of the world with markers representing the AQI near the places it is measured.</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div flex="100" id='AQIMap'  style='height:380px; width:100%'  />
                        </md-card-content>
                    </md-card>
                </div>
            </md-content>
        </md-tab>

    </md-tabs>


</div>

