<div ng-controller="VisualizationController" >
    <div class="menu-demo-container" layout-align="center center" layout="column">
        <h2 class="md-display-3">Transport data visualization</h2>
        <p class="md-subhead subheader">Road transport is the largest contributor to global warming,
            through emission of carbon dioxide and air pollution.
            Here you can compare how the transport impacts <br> on the air pollution and the amount of carbon dioxide emitted.</p>
        <md-button class="md-icon-button icon" ng-click="scrollToDiv()">
            <md-icon class="icon" md-font-set="md">keyboard_arrow_down</md-icon>
        </md-button>
    </div>
    <br>
    <div id="skopje" >
        <div layout="row" layout-wrap>
            <div flex="10"></div>
            <div flex="30">

            </div>
            <div flex="15"></div>
            <div flex="35">

            </div>
            <div flex="10"></div>
        </div>
        <br>
        <div layout="row" style="align-content: center">
            <div flex="15"></div>
            <div flex="25" ng-show="visible">

            </div>
            <div flex="20"></div>
            <div flex="20">

            </div>
            <div flex="10"></div>
        </div>
        <div layout="column" layout-align="center center">

        </div>
    </div>

</div>